@import "reset.less";

// Palette
@white: #fff;
@black: #363636;

@font-stack: brandon-grotesque, /*Futura, 'Tw Cen MT',*/ 'Helvetica Neue', Helvetica, Arial, sans-serif;

body {
	color: @white;
	background: @black;
	background-position: top left;
	background-repeat: repeat;
	font: 400 normal 12pt/1em @font-stack;
	text-rendering: optimizeLegibility;
}

a {
	color: @white;
	text-decoration: none;
}

h1 {
	position: absolute;
	bottom: 40px;
	left: 40px;
	text-transform: uppercase;
}
ul {
	position: absolute;
	bottom: 40px;
	right: 40px;
	text-transform: uppercase;
	li {
		display: inline;
		a {
			display: inline-block;
			margin-left: 1em;
		}
	}
}

#preview {
	text-align: center;
}